@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
    background-color: #F9C6D7;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    padding-top: 50px;
}

body, html {
    margin: 0;
    height: 100%;
}

#app {
    width: 50%;
}

nav {
    padding: 20px 20px 20px 0;
}

nav a {
    padding: 10px;
    text-decoration: none;
    background: #FFFFFF;
    border-radius: 3px;
    color: #DB4C77;
    font-weight: bold;
    margin-right: 15px;
}

.container {
    box-shadow: 0px 0px 40px lightgray;
}